// font-weight helper:

// 100    Extra Light or Ultra Light
// 200    Light or Thin
// 300    Book or Demi
// 400    Normal or Regular
// 500    Medium
// 600    Semibold, Demibold
// 700    Bold
// 800    Black, Extra Bold or Heavy
// 900    Extra Black, Fat, Poster or Ultra Black



@mixin font($f-name, $f-style, $f-weight, $f-url){
	@font-face {
		font-family: $f-name;
		font-style: $f-style;
		font-weight: $f-weight;
		src: url($f-url) format('woff2');
	}
}



@include font('Rubik', normal, 400, '../../fonts/rubik-regular-webfont.woff2');
@include font('Rubik', normal, 500, '../../fonts/rubik-medium-webfont.woff2');
@include font('Rubik', normal, 700, '../../fonts/rubik-bold-webfont.woff2');